* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DFkai-sb, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header div.top {
  padding: 1rem;
  background-image: url(../photo/background.png);
}

header div.top h1 {
  font-size: 2.5rem;
}

header div.top h3 {
  font-size: 1rem;
}

header nav {
  background-color: black;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  padding: 0.8rem 1.2rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3 ease;
}

nav ul li a:hover {
  color: yellow;
}

.active {
  color: yellow;
}
